@* <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - TravelBookingFrance.FrontMVC</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/TravelBookingFrance.FrontMVC.styles.css" asp-append-version="true" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TravelBookingFrance.FrontMVC</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2024 - TravelBookingFrance.FrontMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html> *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourest - Explore the World</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Comforter+Brush&family=Heebo:wght@400;500;600;700&display=swap"
          rel="stylesheet">

</head>

<body id="top">

    <!--
      - #HEADER
    -->

    <header class="header" data-header>
        <div class="container">

            <a href="#">
                <h1 class="logo">ELLYSSA</h1>
            </a>

            <button class="nav-toggle-btn" data-nav-toggle-btn aria-label="Toggle Menu">
                <ion-icon name="menu-outline" class="open"></ion-icon>
                <ion-icon name="close-outline" class="close"></ion-icon>
            </button>

            <nav class="navbar">

                <ul class="navbar-list">

                    <li>
                        <a href="#" class="navbar-link">Home</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link">About Us</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link">Tours</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link">Destinations</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link">Blog</a>
                    </li>

                    <li>
                        <a href="#" class="navbar-link">Contact Us</a>
                    </li>

                </ul>
                <partial name="_LoginPartial" />

            </nav>

        </div>
    </header>





    <main>
        <article>
            @RenderBody()



        </article>
    </main>





    <!--
      - #FOOTER
    -->

    <footer class="footer" style="background-image: url('~/assets/images/footer-bg.png')">
        <div class="container">

            <div class="footer-top">

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Top destination</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Indonesia, Jakarta</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Maldives, Malé</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Australia, Canberra</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Thailand, Bangkok</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Morocco, Rabat</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Categories</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Travel</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Lifestyle</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Fashion</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Education</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Food & Drink</a>
                    </li>

                </ul>

                <ul class="footer-list">

                    <li>
                        <p class="footer-list-title">Quick links</p>
                    </li>

                    <li>
                        <a href="#" class="footer-link">About</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Contact</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Tours</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Booking</a>
                    </li>

                    <li>
                        <a href="#" class="footer-link">Terms & Conditions</a>
                    </li>

                </ul>

                <div class="footer-list">

                    <p class="footer-list-title">Get a newsletter</p>

                    <p class="newsletter-text">
                        For the latest deals and tips, travel no further than your inbox
                    </p>

                    <form action="" class="newsletter-form">
                        <input type="email" name="email" required placeholder="Email address" class="newsletter-input">

                        <button type="submit" class="btn btn-primary">Subscribe</button>
                    </form>

                </div>

            </div>

            <div class="footer-bottom">

                <a href="#" class="logo">Tourest</a>

                <p class="copyright">
                    &copy; 2022 <a href="#" class="copyright-link">codewithsadee</a>. All Rights Reserved
                </p>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-linkedin"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-google"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>

        </div>
    </footer>





    <!--
      - #GO TO TOP
    -->

    <a href="#top" class="go-top" data-go-top aria-label="Go To Top">
        <ion-icon name="chevron-up-outline"></ion-icon>
    </a>





    <!--
      - custom js link
    -->

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>